.slider,
.slider .slide-img {
    display: block;
    width: 100% !important;
    height: 450px;
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;
    -moz-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    -webkit-transition: transform 0.4s;
    transition: transform 0.4s;
}

.slider .slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center
}

.slider .slide-img {
    position: absolute;
}

.slider > i {
    color: #5bbd72;
    position: absolute;
    font-size: 30px;
    margin: 20px;
    top: 40%;
    text-shadow: 0 10px 2px #223422;
    transition: 0.3s;
    width: 30px;
    padding: 10px 13px;
    background: #fff;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    line-height: 0;
    box-sizing: content-box;
    border-radius: 3px;
    z-index: 4;
}

.slider > i svg {
    margin-top: 3px;
}

.slider > .left {
    left: -100px;
    opacity: 0;
    transition: opacity .3s;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.slider > .right {
    right: -100px;
    opacity: 0;
    transition: opacity .3s;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.slider:hover > .left {
    left: 0;
    opacity: 1;
}
.slider:hover > .right {
    right: 0;
    opacity: 1;
}

.slider > i:hover {
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    transform: translateX(-2px);
}

.slider > i.right:hover {
    transform: translateX(2px);
}

.slider > i.right:active,
.slider > i.left:active {
    transform: translateY(1px);
}

.slider:hover > div {
    transform: scale(1.01);
}

.hoverZoomOff:hover > div {
    transform: scale(1);
}

.showArrows > .left {
    left: 0;
}

.showArrows > .right {
    right: 0;
}

.slider:hover .titleBar,
.slider:hover .titleBar * {
    transform: translate(0);
    opacity: 1;
}

.slider > div span {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: center;
    padding: 0;
    width: 100%;
}

@keyframes boing {
    0% {
        transform: scale(1.2);
    }
    40% {
        transform: scale(0.6);
    }
    60% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}


@media screen and (max-width: 767px) { 
.slider,
.slider .slide-img {
    height: 225px;

}
.slider > i {
    font-size: 30px;
    width: 15px;
    padding: 12px;
}
}