::-moz-selection {
	background-color: #000;
	color: #fff;
}

::selection {
	background-color: #000;
	color: #fff;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

 ::-webkit-scrollbar-track {
	background: #d5d7da;
}

 ::-webkit-scrollbar-thumb:hover {
	background: #7d8ea8;
	box-shadow: none;
}

 ::-webkit-scrollbar-thumb {
	background: rgb(247,150,192);background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%);
	border-radius: 50px;
	box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.200);
}

.login-body {
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.850), rgba(0, 0, 0, 0.850)),url('../../../assets/front/img/footer.webp');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.pt-10 {
    padding-top: 10px;
}
.pt-20 {
    padding-top: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-20 {
    padding-bottom: 20px;
}

@media screen and (max-width: 768px) { 
    .xs-mt-0 {
       margin-top: 0px;
    }
    .xs-pt-10 {
       padding-top: 10px;
    }
    .xs-pb-10 {
       padding-bottom: 10px;
    }
    .page-title .title_left {
       width: 100%; 
    }
}

.error {
    color: red;
    font-size: 11px;
}

input,
select,
textarea {
  display: block;
  width: 100%;
  height: 38px;
  padding: 0 10px;
  letter-spacing: 0.5px;
  background: #eef1f5;
  border: 1px solid #e6eaee;
  margin-bottom: 15px;
  font-size: 14px !important;
  font-weight: 400;
  color: #73879c !important;
  outline: none;
  border-radius: 4px;
  box-sizing: border-box;
}

select,
input[type="date"] {
    cursor: pointer;
}

input:hover,
select:hover,
textarea:hover {
    box-shadow:none;
    background: #d2dfec9c;
    border: 1px solid #d2dfec9c;
}

input:focus,
select:focus {
    background: #FFF;
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.050);
}

textarea:focus {
    background: #FFF;
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.050);
    outline-width: 0;
}

/*Checkboxes styles*/

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-top: 14px;
  color: #73879c;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}

input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  border: 2px solid #ed6950;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.7;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}

input[type="checkbox"]:checked + label:before {
  width: 7px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*radio buttons styles*/

.radiobtn {
  position: relative;
  display: block;
}
.radiobtn label {
  display: block;
  background: #e2e5e9;
  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: 400;
  color: #73879c;
  border-radius: 3px;
  padding: 10px 10px;
  border: 1px solid #e6eaee;
  margin-bottom: 5px;
  cursor: pointer;
}
.radiobtn label:after, .radiobtn label:before {
  content: "";
  position: absolute;
  right: 20px;
  top: 11px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background: #d2dfec;
}
.radiobtn label:before {
  background: transparent;
  transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
  z-index: 2;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  width: 0;
  height: 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
}
.radiobtn input[type=radio] {
  display: none;
  position: absolute;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.radiobtn input[type=radio]:checked + label {
  background: #008bd013;
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  border-color: #0089d0;
  color: #0089d0;
}
.radiobtn input[type=radio]:checked + label:after {
  background: #0089d0;
}
.radiobtn input[type=radio]:checked + label:before {
  width: 20px;
  height: 20px;
}

textarea {
  width: 100%;
  height: 110px;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}

.outln-hvr {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: #ed6950;
}

.outln-hvr.style2 { 
  font-size: 14px;
  font-weight: 400;
  color: #25233c;
}

.outln-hvr:hover {
    color: #ed6950;
}

.outln-hvr.style2:hover {
    color: #ed6950;
}

.outln-hvr::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #ed6950;
  transition: width .3s;
}

.outln-hvr.style2::after {
  height: 1px;
}

.outln-hvr:hover::after,
.outln-hvr.style2:hover::after {
  width: 100%;
  transition: width .3s;
}

/* File upload */

.file-drop-area {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 14px;
  margin-bottom: 10px;
  border: 1px dashed rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  transition: 0.2s;
}
.file-drop-area.is-active {
  background-color: rgba(0, 0, 0, 0.05);
}

.fake-btn {
  flex-shrink: 0;
  background-color: #0089d0;
  border: 1px solid #0089d0;
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 12px;
  color: #FFF;
  text-transform: uppercase;
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.150);
}

.file-msg {
  font-size: 14px;
  font-weight: 300;
  color: #73879c;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
.file-input:focus {
  outline: none;
}

.login-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: auto;
  display: flex;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}

/* * * * * Login Form CSS * * * * */

.login-form .form-group {
  margin: 0 0 20px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.col-left,
.col-right {
  width: 55%;
  padding: 45px 35px;
  display: flex;
}

.col-right {
    background-color: transparent;
}

.col-left {
  width: 45%;
  background-color: transparent; 
  -webkit-clip-path: polygon(
    98% 17%,
    100% 34%,
    98% 51%,
    100% 68%,
    98% 84%,
    100% 100%,
    0 100%,
    0 0,
    100% 0
  );
  clip-path: polygon(
    98% 17%,
    100% 34%,
    98% 51%,
    100% 68%,
    98% 84%,
    100% 100%,
    0 100%,
    0 0,
    100% 0
  );
}

@media screen and (max-width: 768px) {
  .login-wrapper {
     padding: 0 20px 0 20px;
  }
  .login-container {
    flex-direction: column;
    max-width: 100%;
  }
  .col-left,
  .col-right {
    width: 100%;
    margin: 0;
  }
  .col-right {padding: 20px;}.col-left{padding: 80px 75px 55px 75px;}
  .dropdown-menu.style2 { 
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .dropdown-menu.style2 li { 
      padding-top: 4px;
      padding-bottom: 4px;
  }
  .login-body {
    max-height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.750), rgba(0, 0, 0, 0.750)),url('../../../assets/front/img/footer.webp');
    background-position: start;
    background-repeat: no-repeat;
    background-size: cover;
    }
}

.login-text {
  position: relative;
  width: 100%;
}

.login-text img {
    width: 100%;
    position: absolute;
    top: 50%;
    margin: -50px auto 0;
}

.login-form {
  position: relative;
  width: 100%;
}

.login-form h2 {
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 20px;
}

.login-form input{
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000;
  background: #FFF;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.login-form input:hover {
  border-color: #ed6a50;
}

.login-form input:focus {
  border-color: #ed6a50;
  transform: translateY(-3px);
}

.login-form button.btn {
  width: 100%;
  height: 40px;
  color: #ffffff;
  padding: 0 10px;
  font-size: 16px;
  letter-spacing: 1px;
  background: #4caf50;
  border-color: #4caf50;
  outline: none;
  cursor: pointer;
}

.login-form button.btn:hover {
  color: #4caf50;
  background: #4caf4f21;
}

.login-form button.btn:focus {
  outline:none;
  color: #FFF;
  background: #4caf4fd5;
}

.login-form .forgot-btn {
    color: #0089d0 ;
}

.toggle-password {
  float: right;
  cursor: pointer;
  font-size: 17px;
  color: #111;
  margin-right: 10px;
  margin-top: -43px;
}

.toggle-password.style2 { 
    margin-top: -40px;
}

.toggle-password,
.toggle-password.style2:hover {
    color: #666;
}

/*== Dashbord details Page ==*/
.our-dashbord {
  position: relative;
}

/*== DashBoard Pages ==*/
.ff_one {
  background-color: #ffffff;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(235, 235, 235);
  margin-bottom: 20px;
  position: relative;
  padding: 8px 15px 8px 15px;
  transition: 0.3s;
}
.ff_one:hover {
    transform: scale(1.09, 1.09);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.050);
}
.ff_one .detais .icon{
  position: absolute;
  top: 12px;
  right: 15px;
  border-radius: 50%;
  background-color: rgba(14, 170, 175, 0.048);
  font-size: 28px;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}
.ff_one .detais .icon span{
  color: rgba(14, 170, 175, 0.808);
  text-shadow: 2px 2px 4px rgba(14, 170, 175, 0.808);
}
.ff_one.style2 .detais .icon span{
  color: #9499da;
  text-shadow: 2px 2px 4px #9499da;
}
.ff_one.style3 .detais .icon span{
  color: #ff5a5f;
  text-shadow: 2px 2px 4px #ff5a5f;
}
.ff_one.style4 .detais .icon span{
  color: #ffbc7d;
  text-shadow: 2px 2px 4px #ffbc7d;
}
.ff_one.style5 .detais .icon span{
  color: #7dcbff;
  text-shadow: 2px 2px 4px #7dcbff;
}
.ff_one.style6 .detais .icon span{
  color: #ff7dd4;
  text-shadow: 2px 2px 4px #ff7dd4;
}
.ff_one.style2 .detais .icon{
  background-color: rgba(148, 153, 218, 0.149);
}
.ff_one.style3 .detais .icon{
  background-color: rgba(255, 90, 95, 0.149);
}
.ff_one.style4 .detais .icon{
  background-color: rgba(255, 188, 125, 0.149);
}
.ff_one.style5 .detais .icon{
  background-color: rgba(125, 214, 255, 0.149);
}
.ff_one.style6 .detais .icon{
  background-color: rgba(255, 125, 227, 0.149);
}

.ff_one .detais {
    margin: 0 0 10px 0;
}

.ff_one .detais .timer{
  font-size: 42px;
  color: #25233c7a;
  line-height: 1.2;
  font-weight: bolder;
}

.slide {
  position: relative;
  display:block;
  height: 40px;
  width: 100%;
  font-size: 14px;
  color: #FFF;
  letter-spacing: 1px;
  background: #ed6950;
  border: 1px #ed6950 solid;
  border-radius: 4px;
  outline: 0;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.slide:after {
  content: "Sign In";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  text-align: center;
  -webkit-transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.slide:before {
  content: "Click to go →";
  height: 100%;
  width: 100%;
  position: absolute;
  color: #ed6950;
  left: -100%;
  opacity: 0;
  -webkit-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.slide:hover {
  background: transparent;
  border: 1px #ed6950 solid;
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.150);
  transform: translateY(3px);
}

.slide:focus {
    background: #ed6a5018;
    box-shadow: none;
}

.slide:hover:before {
  left: 0;
  opacity: 1;
  color: #ed6950;
}
.slide:hover:after {
  left: 100%;
  opacity: 0;
}

/* button styles !!!YOU NEED THEM 
!!!ALSO YOU NEED TO ADD FONTWESOME */
.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 0px;
  margin: 0 0 0 10px;
  width: 160px;
  border-radius: 3px;
  overflow: hidden;
  border:none;
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.150);
}

.effect.red,
.effect-2.red{
    background-color: #ed6950;
}

.effect.blue,
.effect-2.blue{
    background-color: #0089d0 ;
}

.effect.red.effect-5:before {
  content: "\f067";
  font-family: FontAwesome; 
}

.effect.blue.effect-5:before {
  content: "\f054";
  font-family: FontAwesome; 
}

.effect-2.effect-4:before {
  content: "\f0d7";
  font-family: FontAwesome; 
}

/* effect-5 styles */
.effect.effect-5 {
  transition: all 0.2s linear 0s;
}
.effect.effect-5:before {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0 50% 50% 0;
  transform: scale(0, 1);
  transform-origin: left center;
  transition: all 0.2s linear 0s;
}
.effect.effect-5:hover {
  text-indent: 30px;
}
.effect.effect-5:hover:before {
  transform: scale(1, 1);
  text-indent: 0;
}

.effect.effect-5:focus {
    box-shadow:none;
    transform: translateY(2px);
}

/* effect-4 styles */
.effect-2 {
  text-align: center;
  display: inline-block;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 0px;
  margin: 8px 40px 10px 0;
  width: 175px;
  border-radius: 3px;
  overflow: hidden;
  border:none;
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.150);
}

.dropdown-menu.style2 {
    margin: 0px 40px 0 0;
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.150);
}

.effect-2.effect-4 {
  transition: all 0.2s linear 0s;
}
.effect-2.effect-4:before {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0 50% 50% 0;
  transform: scale(0, 1);
  transform-origin: left center;
  transition: all 0.2s linear 0s;
}
.effect-2.effect-4:hover {
  text-indent: 30px;
}
.effect-2.effect-4:hover:before {
  transform: scale(1, 1);
  text-indent: 0;
}

.effect-2.effect-4:focus {
    transform: translateY(2px);
}

/* Input styles */

input[type="submit"] {
  text-align: center;
  line-height: 10px;
  position: relative;
  width: auto;
  padding: 12px 17px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #ed6950;
  text-decoration: none;
  border-bottom: 5px solid #c4513b;
  transition: all 0.1s;
  -webkit-transition: all 0.3s;
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.150);
}

input[type="submit"]:hover { 
  background-color: #0089d0;  
  border-bottom: 5px solid #016da3;
  box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.300);
}

input[type="submit"]:active {
  background-color: #ed6950;
  border-bottom: 5px solid #c4513b;
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
  box-shadow: none;
}

/* Table design */

thead {
    background: #869bb1;
    color: #FFF;
}


/* Action Button */

.action-btn {
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  margin: 0px 2px 0 2px;
  padding: 3px 6px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.action-btn.delete:hover {
  color: #fc5959;
}

.action-btn.edit:hover {
  color: #0089d0 ;
}

.delete {
  border: 0;
  box-shadow: inset 0 0 20px #fc59596c, 0 0 20px #fc595909;
  color: #fc5959;
  outline: 1px solid;
  outline-color: #fc59596c;
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.delete:hover {
  border: 0;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0);
  outline-color: #fc5959;
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #fc5959;
}

.edit {
  border: 0 solid;
  color: #0089d0;
  outline: 1px solid;
  outline-color: #008bd080 ;
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.edit:hover {
  border: 0px solid;
  box-shadow: inset 0 0 20px #008bd054 , 0 0 20px #008bd015;
  outline-color: #0089d0;
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #0089d0;
}

.process {
  border: 0;
  box-shadow: inset 0 0 20px #f0ac4e49, 0 0 20px #f0ac4e13;
  color: #f0ad4e;
  outline: 1px solid;
  outline-color: #f0ac4e49;
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.process:hover {
  border: 0;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0);
  outline-color: #f0ad4e;
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #f0ad4e;
}

.actives {
  border: 0;
  box-shadow: inset 0 0 20px #72da2d60, 0 0 20px #72da2d13;
  color: #72da2d;
  outline: 1px solid;
  outline-color: #72da2d60;
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.actives:hover {
  border: 0;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0);
  outline-color: #72da2d;
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #72da2d;
}

/* Table Styles */

.table-wrapper {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td,
.fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #ebebeb;
    font-size: 14px;
    font-weight: 500px;
    color: #73879c;
}

.fl-table thead th {
    color: #ffffff;
    background: #869bb1;
}

.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #5f7185;
}

.fl-table tr:nth-child(even) {
    background: #f8f8f8;
}

/* Responsive */

@media (max-width: 768px) {
    .table-wrapper {
       box-shadow: none;
     }
    .fl-table {
        display: block;
        width: 100%;
        background-color: transparent;
    }
    .fl-table thead,
    .fl-table tbody,
    .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child {
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td,
    .fl-table th {
        padding: 10px 15px 10px 15px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: auto;
        font-size: 14px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: none;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #f8f8f8;
        border-right: none;
    }
    .fl-table tr td:nth-child(even) {
        border-right: none;
        border: none;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
        background-color: white;
    }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation-duration: 0.35s;
          animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  /* Modifiers */
  /* States */
}
.modal__dialog {
  position: relative;
  max-width: 500px;
  padding: 15px;
  margin: auto;
  border-radius: 4px;
  background-color: #FFF;
}
.modal__content {
  padding: 10px 0;
  font-size: 14px;
}
.modal.is-modal-active {
  display: -webkit-box;
  display: flex;
}
/* Animation */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#main-menu {
  position: relative;
  width: 250px;
  background-color: #FFF;
  margin-bottom: 0px;
  border-radius: 4px;
}

.list-group-item {
  background-color: transparent;
  border: none;
}

a.list-group-item {
  color: #5f7185;
}

a.list-group-item:hover,
a.list-group-item:focus {
  color: #000;
  background-color: #ebebeb;
  border-radius: 4px;
}

a.list-group-item.active {
    color: #5f7185;
    background-color: transparent;
    border-radius: 4px;
}

a.list-group-item.active:hover,
a.list-group-item.active:focus {
  color: #5f7185;
  background-color: #ebebeb;
  border: none;
  border-radius: 4px;
}

.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0;
}

.list-group-level1 .list-group-item {
  padding-left: 30px;
}

.list-group-item .caret,
.list-group-level1 .list-group-item .caret {
    float: right;
    vertical-align: middle;
    text-align: center;
    margin-top: 7px;
}

.list-group-level2 .list-group-item {
  padding-left: 40px;
}

.list-group-level2 .list-group-item i {
    color: #5f7185;
}

#fullscreen-btn {
    margin: 7px 20px 0 0;
}

#fullscreen-btn a i {
    text-align: center;
    font-size: 14px;
    padding: 12px;
    color: #0089d0;
    background-color: #EFEFEF;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
    box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
    transition: 0.3s;
}

#fullscreen-btn:hover a i {
    color: #FFF;
    background-color: #0089d0;
    box-shadow: 0px 7px 12px rgb(0 0 0 / 15%);
}
